body {
    background: none repeat scroll 0 0 #eeeff0;
}

#site-navbar {
    background-color: #1f1f1f;
    border-radius: 0;
    z-index: 1024;
}

#site-navbar a{
    color: #ccc;
}

#site-navbar a:hover, 
#site-navbar a:focus {
    background-color: #3a485d;
    color: #ddd;
}

#site-navbar  .right-li-text{
    padding-top:15px;
    padding-bottom:15px;
    color: #ddd;
    padding-right:15px;
}

#content-container{
	padding:0px;
}
#content-container .main-nav{
	padding: 0px;
	background-color: #333333;
}
#content-container .main-nav .main-panel{
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background-color: #3d3d3d;
}

#content-container .main-nav .main-panel a{
	color: #bdbdbd;
}

#content-container .main-nav .main-panel a[aria-controls],
#content-container .main-nav .main-panel a[aria-controls]:hover,
#content-container .main-nav .main-panel a[aria-controls]:focus {
	background-color: #2b2b2b;
}
#content-container .main-nav .main-panel ul[aria-labelledby] a:hover,
#content-container .main-nav .main-panel ul[aria-labelledby] a:focus {
	background-color: #474747;
}

#content-container .main-nav .nav .glyphicon{
    color: #6e6e6e;
    float: right;
}

#content-container .main-nav .main-panel ul[aria-labelledby]{
	padding-left: 20px;
}

.main-right .panel-default{
	border-radius: 0;
	box-shadow: none;
}


