body {
    background-color:#FFF;
    font-size: 14px !important;
}
.bootstrap-notify-bar {
    border-radius: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2000;
}
#site-navbar {
    background-color: #1f1f1f;
    border-radius: 0;
    z-index: 1024;
}
#site-navbar a{
    color: #ccc;
}
#site-navbar a:hover, 
#site-navbar a:focus {
    background-color: #3a485d;
    color: #ddd;
}
#site-navbar  .right-li-text{
    padding-top:15px;
    padding-bottom:15px;
    color: #ddd;
    padding-right:15px;
}
#site-navbar > .container{
    margin: 0;
}
#content-container{
	padding:0px;
}
#content-container .main-nav{
	padding: 0px;
	background-color: #333333;
}
#content-container .main-nav .main-panel{
	box-shadow: none;
	border-radius: 0;
	border: 0;
	background-color: #3d3d3d;
}
#content-container .main-nav .main-panel a{
	color: #bdbdbd;
}
#content-container .main-nav .main-panel a[aria-controls],
#content-container .main-nav .main-panel a[aria-controls]:hover,
#content-container .main-nav .main-panel a[aria-controls]:focus {
	background-color: #2b2b2b;
}
#content-container .main-nav .main-panel ul[aria-labelledby] a:hover,
#content-container .main-nav .main-panel ul[aria-labelledby] a:focus {
	background-color: #474747;
}
#content-container .main-nav .nav .glyphicon{
    color: #6e6e6e;
    float: right;
}
#content-container .main-nav .main-panel ul[aria-labelledby]{
	padding-left: 20px;
}
.page-default{
	padding: 5px;
}
.page-heading{
	border-bottom: 2px solid #eee;
    margin: 0 0 15px;
    padding: 0;
}
.page-heading h1 {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    font-weight: 600;
}
.page-heading h1 .breadcrumbs{
    font-size: 14px;
    color: #666;
}
.page-heading h1 .breadcrumbs a,
.page-heading h1 .breadcrumbs a:hover,
.page-heading h1 .breadcrumbs a:focus{
    color: #666;
}
.page-default .well{
	box-shadow: none;
	border-radius: 0;
}
.page-default form.well-sm .form-control{
	width: 100%;
}
.page-default .breadcrumb{
    margin-bottom: 15px;
}

.evaluation-create label{
    font-weight: normal;
}
.evaluation-create .panel-heading{
    font-weight: 700;
}
.evaluation-create .panel-default .input-text{
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.evaluation-create .panel-default .input-text .radio{
    display: inline;
    padding-top : 5px;
    margin-right: 25px;
}
.evaluation-create .panel-default .table-input{
    width:70%;
}
.table-list .selected td,
.table-list .selected th{
    background-color: #EEE;
}

#user-table .form-group{
    margin: 0;
}

